/* Estilização global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}


/* Header */
header {
    background: #2b9cf2;
    padding: 10px 0;
}

.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: #2b9cf2;
}

.menuBar h1 {
    color: #177734;
    position: relative;
    padding: 0 5px 0 25px;
    font-size: 30px; 
}

.menuBar img{
    width: 40px;
    right: -40px;
    top: 3px;
}

.menuBar a {
    color: rgb(216, 213, 213);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menuBar div{
    display: flex;
}

.menuBar a:hover {
    color: #0b7c35;
}



/* Responsividade */
@media (max-width: 768px) {
    .menuBar {
        flex-direction: column;
        text-align: center;
    }

    .menuBar a {
        font-size: 14px;
        padding: 8px 10px;
    }

    .content {
        flex-direction: column;
    }

    #climateChanges .content img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .menuBar a {
        font-size: 12px;
    }

    .missao h3 {
        font-size: 20px;
    }

    .missao p, #climateChanges .content p {
        font-size: 16px;
    }
}
