* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
header {
    background: #2b9cf2;
    padding: 10px 0;
}

.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: #2b9cf2;
}

.menuBar h1 {
    color: #177734;
    position: relative;
    padding: 0 5px 0 25px;
    font-size: 30px; 
}

.menuBar img{
    width: 40px;
    right: -40px;
    top: 3px;
}

.menuBar a {
    color: rgb(235, 234, 234);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menuBar div{
    display: flex;
}

.menuBar a:hover {
    color: #0b7c35;
}

/* Region Titles */
.txt-1 h1 {
    margin-top: 24px;
    color: #2b9cf2;
    font-size: 2.5em;
    text-align: center;
    padding: 25px 2%;
}

/* Container */
.container {
    padding: 24px;
}

/* Image Section */
.regiaof {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.img-class {
    border-radius: 20px;
    width: 30vw;
}

/* Subtitles */
.subtitle {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    color: #2b9cf2;
}

/* Text Content */
.txt2, .txt3, .txt4, .txt5, .txt6 {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Section Styling */
.region-section {
    margin-bottom: 80px;
}

p{
    line-height: 1.5em;
    width: 90%;
    margin: auto;
    color: #555;
}

/* Responsividade */
@media (max-width: 768px) {
    .menuBar {
        flex-direction: column;
        text-align: center;
    }

    .menuBar a {
        font-size: 14px;
        padding: 8px 10px;
    }

    .content {
        flex-direction: column;
    }

    #climateChanges .content img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .menuBar a {
        font-size: 12px;
    }

    .missao h3 {
        font-size: 20px;
    }

    .missao p, #climateChanges .content p {
        font-size: 16px;
    }
}